/* RESET GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Segoe UI', sans-serif;
}

/* ROOT */
:root {
  --gold: #d4af37;
  --gold-dark: #b8962e;
  --blue: #4a6fa5;
  --bg: #f4f1ec;
  --text-dark: #2b2b2b;
  --glass: rgba(255, 255, 255, 0.15);
}


/* BODY */
body {
  background-color: var(--bg);
}


/* BOTÃO HERO */
.btn {
  padding: 14px 45px;
  border-radius: 50px;
  background: linear-gradient(135deg, var(--gold), var(--gold-dark));
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  box-shadow: 0 15px 35px rgba(212, 175, 55, 0.45);
  transition: all 0.4s ease;

  display: block;
}

.btn:hover {
  transform: translateY(-4px) scale(1.05);
  box-shadow: 0 25px 45px rgba(212, 175, 55, 0.65);
}

.btn:active {
  transform: translateY(-1px) scale(1);
  box-shadow: 0 5px 15px rgba(212, 175, 55, 0.35);
}
.containerTitles{
    text-align: center;
}